name: MLflow CI Training

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install Conda
      uses: conda-incubator/setup-miniconda@v2
      with:
        activate-environment: heart-env
        environment-file: MLProject/conda.yaml
        python-version: "3.10"
        auto-activate-base: false

    - name: Install mlflow
      run: |
        pip install mlflow

    - name: Run MLflow Project
      run: |
        mlflow run MLProject

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: trained-model-artifacts
        path: mlruns
