name: MLflow CI

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  training:
    runs-on: ubuntu-latest

    steps:
    # 1. SET UP JOB
    - name: RUN ACTIONS/CHECKOUT@V3
      uses: actions/checkout@v3

    # 2. SET UP PYTHON 3.12.7
    - name: Install Python 3.12.7
      uses: actions/setup-python@v4
      with:
        python-version: "3.12.7"

    # 3. CHECK ENV
    - name: Check environment
      run: python --version

    # 4. INSTALL DEPENDENCIES
    - name: Install MLflow & sklearn
      run: |
        pip install mlflow scikit-learn pandas

    # 5. SET MLFLOW TRACKING URI
    - name: Set MLflow URI
      run: echo "MLFLOW_TRACKING_URI=sqlite:///mlflow.db" >> $GITHUB_ENV

    # 6. RUN MLFLOW PROJECT
    - name: Run MLflow project
      run: mlflow run MLProject -P dataset=heartdisease_preprocessing.csv

    # 7. INSTALL PYTHON DEPENDENCIES (ARTIFACTS OPTIONAL)
    - name: Install Google Drive uploader deps
      run: pip install google-auth google-auth-oauthlib

    # 8. UPLOAD TO GOOGLE DRIVE
    - name: Upload model to Google Drive
      uses: FlyAndNotion/googledrive-upload-action@v1.2.0
      with:
        credentials: ${{ secrets.GDRIVE_CREDENTIALS }}
        file: mlruns/0/*/artifacts/model/model.pkl
        parent_folder_id: ${{ secrets.GDRIVE_FOLDER }}

    # 9. POST RUN CHECKOUT
    - name: Post-run checkout
      uses: actions/checkout@v3

    # 10. COMPLETE JOB
    - name: COMPLETE JOB
      run: echo "Pipeline Finished Successfully!"
