name: MLflow CI

on:
  workflow_dispatch:

jobs:
  training:
    runs-on: ubuntu-latest

    steps:
    # ---------------- SET UP JOB ----------------
    - name: Checkout Repo
      uses: actions/checkout@v3

    # ---------------- PYTHON 3.12.7 ----------------
    - name: Setup Python 3.12.7
      uses: actions/setup-python@v4
      with:
        python-version: "3.12.7"

    # ---------------- CHECK ENV ----------------
    - name: Check Python version
      run: python --version

    # ---------------- INSTALL DEPENDENCIES ----------------
    - name: Install MLflow + dependencies
      run: |
        pip install mlflow==2.15.1
        pip install scikit-learn pandas

    # ---------------- FIX pkg_resources ERROR ----------------
    - name: Install setuptools (pkg_resources fix)
      run: pip install setuptools

    # ---------------- SET MLFLOW TRACKING URI ----------------
    - name: Set MLflow tracking URI
      run: |
        echo "MLFLOW_TRACKING_URI=sqlite:///mlflow.db" >> $GITHUB_ENV

    # ---------------- RUN MLFLOW PROJECT ----------------
    - name: Run MLflow Project
      run: |
        mlflow run MLProject -P dataset=heartdisease_preprocessing.csv

    # ---------------- INSTALL PYTHON DEPENDENCIES ----------------
    - name: Prepare artifact
      run: |
        mkdir -p artifact_output
        cp -r mlruns artifact_output/

    # ---------------- UPLOAD TO GOOGLE DRIVE ----------------
    - name: Upload to Google Drive
      uses: wangyoucao577/googledrive-action@v2
      with:
        service_account_key: ${{ secrets.GDRIVE_KEY }}
        folder_id: ${{ secrets.GDRIVE_FOLDER }}
        file: "artifact_output"

    # ---------------- POST RUN CHECKOUT ----------------
    - name: Final checkout
      uses: actions/checkout@v3

    # ---------------- COMPLETE JOB ----------------
    - name: Job done
      run: echo "Workflow Completed Successfully!"
