name: MLflow CI

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install MLflow + dependencies
        run: |
          pip install mlflow
          pip install -r MLProject/requirements.txt || true

      - name: Train model via MLflow Project
        run: |
          mlflow run MLProject -P dataset=heartdisease_preprocessing.csv

      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: trained-model
          path: mlruns
