name: MLflow CI

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  training:
    runs-on: ubuntu-latest

    steps:
    # 1. SET UP JOB
    - name: RUN ACTIONS/CHECKOUT@V3
      uses: actions/checkout@v3

    # 2. SET UP PYTHON 3.12.7
    - name: Install Python 3.12.7
      uses: actions/setup-python@v4
      with:
        python-version: "3.12.7"

    # 3. CHECK ENV
    - name: Check environment
      run: |
        python --version
        pip --version

    # 4. INSTALL DEPENDENCIES
    - name: Install Dependencies
      run: |
        pip install setuptools
        pip install mlflow==2.15.1
        pip install scikit-learn pandas numpy

    # 5. SET MLFLOW TRACKING URI
    - name: Set MLflow URI
      run: echo "MLFLOW_TRACKING_URI=sqlite:///mlflow.db" >> $GITHUB_ENV

    # 6. RUN MLFLOW PROJECT
    - name: Run MLflow Project
      run: mlflow run MLProject -P dataset=heartdisease_preprocessing.csv

    # 7. INSTALL PYTHON DEPENDENCIES FOR UPLOAD
    - name: Install upload dependencies
      run: pip install google-auth google-auth-oauthlib google-auth-httplib2

    # 8. UPLOAD TO GOOGLE DRIVE (VALID ACTION)
    - name: Upload to Google Drive
      uses: JorritSalverda/google-drive-upload-action@v1
      with:
        credentials: ${{ secrets.GDRIVE_CREDENTIALS }}
        source: ./model
        destination: myfolder/



    # 9. POST RUN CHECKOUT
    - name: Post-run checkout
      uses: actions/checkout@v3

    # 10. COMPLETE JOB
    - name: COMPLETE JOB
      run: echo "Pipeline Finished Successfully!"
